html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Roboto", sans-serif */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    background-color: #F8EDEF;
}

.mainPage {
    text-decoration: none;
    color: black;
}

.header {
    margin-top: 40px;
    height: 150px;
    font-family: Georgia, serif;
    color: black;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    text-align: center;
    font-size: 80px;
}

.header h2 {
    font-size: 25px;
    margin-left: 850px;
    font-variant: normal;
    font-weight: normal;
}

.logo {
    width: 90px;
}

.title {
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

.content {
    background-color: white;
    width: 1400px;
    height: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.concerts {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-self: center;
}


/* CODE FOR HOVER EFE IN FRONT PAGE  */

.container1 {
    margin: 10px 10px;
    position: relative;
    width: fit-content;
    margin-bottom: 20px;
}

.image1 {
    display: block;
    width: 300px;
    height: 300px;
}

.overlay1 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #F8EDEF;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
}

.container1:hover .overlay1 {
    bottom: 0;
    height: 100%;
}

.text1 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* CODE FOR EFE ENDS HERE */

footer {
    margin-top: 20px;
    display: block;
    /* text-align: center; */
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 150px;
    width: 100%;
}

.flogo {
    margin-top: 30px;
    /* margin-left: 40px; */
    text-align: center;
}

.footerText {
    color: white;
    /* text-align: left; */
    padding-left: 70px;
    font-size: 30px;
    font-weight: 100;
    background-image: url(cockatiel-silhouette-White.png);
    display: none;
}

.footerLogo {
    width: 50px;
    color: white;
    padding-left: 30px;
}
.copy p {
    color: #eeeeee;
    font-size: 15px;
    text-align: center;
}
