html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

h1, h2, h3, h4, p {
    color: #454040;
}

hr {
    width: 350px;
    margin-left: 15px;
}

body{
    background-color: #FFDFE9;
}

.content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 1200px;
    height: fit-content;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 380px 20px 800px;
    grid-template-rows: 250px 20px auto;
}

.item1, .item2 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.item2, .item4{
    background-color: #FFDFE9;
}

.photo {
    width: 360px;
    margin-left: 10px;
    margin-top: 10px;
}

.ml3 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 6%;
    padding-left: 10px;
}

h2 {
    font-weight: 500;
    font-size: 17px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.skills {
    font-weight: bolder;
    font-size: 20px;
}

.about {
    font-weight: bolder;
    font-size: 25px;
}

p {
    padding: 3px;
}

.headerText{
    font-weight: 600;
    font-size: 20px;
    margin-left: 40px;
}

.insideText {
    padding-top: 20px;
    padding-left: 70px;
    font-size: 17px;
    text-decoration: none;
}

.newHr {
    width: 770px;
}

/* ##################################################################### */
/* #                            MOBILE                                 # */
/* ##################################################################### */

@media screen and (max-width: 824px){

    body{
        display: grid;
        justify-content: center;
    }
    .content {
        margin-left: 0;
        margin-top: 20px;
        height: fit-content;
        width: 370px;
        margin-bottom: 20px;
        display: grid;
        justify-content: center;
        grid-template-columns: 370px;
        grid-template-rows: auto 10px auto ;
    }
    .newHr {
        width: 350px;
    }
    .headerText {
        font-size: 17px;
        margin-left: 0;
    }
    .insideText {
        padding-left: 10px;
        font-size: 15px;
    }
    h1, h2, p a {
        font-size: 15px;
    }
    .about {
        font-size: 22px;
    }
    .photo {
        margin-left: 0;
        width: 370px;
    }
}

@media screen and (max-width: 320px){
    .content {
        width: 320px;
        grid-template-columns: 320px;
    }

    hr, .newHr {
        margin-left: 0;
        width: 320px;
    }
    .photo {
        width: 320px;
    }
}
@media screen and (max-width: 280px){
    .content {
        width: 280px;
        grid-template-columns: 280px;
    }

    hr, .newHr {
        margin-left: 0;
        width: 280px;
    }
    .photo {
        width: 280px;
    }
}